<ion-header>
    <ion-toolbar>
        <ion-button fill="clear" [routerLink]="['/home']">
            <ion-icon name="arrow-back-circle">Volver</ion-icon>
        </ion-button>
        <ion-title>
            <h1>Login</h1>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-card-content>
    <ion-item lines="full">
        <ion-label position="floating">Usuario</ion-label>
        <ion-input type="text" [(ngModel)]="user.usuario"></ion-input>
    </ion-item>
    <ion-item lines="full">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>         
</ion-card-content>
<ion-content>
    <ion-row>
        <ion-col></ion-col>
        <ion-col>
            <ion-button  (click)="ingresar()">Ingresar</ion-button>
        </ion-col>
        <ion-col></ion-col>
    </ion-row>
</ion-content>