<ion-header>
  <ion-toolbar>
      <ion-button fill="clear" [routerLink]="['/home']">
          <ion-icon name="arrow-back-circle">Volver</ion-icon>
      </ion-button>
      <ion-title>
          <h1>ESPECIALIDADES</h1>
      </ion-title>
    </ion-toolbar>
    <ion-card-content>
        Anatomía patológica <br>
        Anestesiología y reanimación<br>
        Cirugía general <br>
        Cirugía pediátrica <br>
        Dermatología <br>
        Fisiatría Genética clínica <br>
        Inmunología <br>
        Laboratorio clínico <br>
        Medicina de urgencia <br>
        Medicina general familiar <br>
        Medicina interna <br>
        Medicina legal <br>
        Medicina nuclear <br>
        Microbiología Neurocirugía <br>
        Neurología Neurología pediátrica <br>
        Obstetricia y ginecología <br>
        Oftalmología <br>
        Ortopedia y traumatología <br>
        Otorrinolaringología <br>
        Pediatría <br>
        Psiquiatría adultos <br>
        Psiquiatría infantil y del adolescente <br>
        Radiología <br>
        Radiología intervencional <br>
        Radioterapia oncológica <br>
        Salud pública Trastornos del lenguaje <br>
        Urología
      </ion-card-content>
</ion-header>