<ion-content>
    <ion-header>
    </ion-header>
    <ion-title>
        <br>
        <h1>Agenda</h1>
        <h1>Horas Medicas</h1>
    </ion-title>
</ion-content>
<ion-content>
    <p>
        <ion-icon name="calendar-outline"></ion-icon>
    </p>
</ion-content>
<ion-content>
<ion-button expand="block" class="ion-margin" ion-button color="primary" [routerLink]="['/login']">Login</ion-button>
<ion-button expand="block" class="ion-margin" ion-button color="primary" [routerLink]="['/agenda']">Agenda</ion-button>
<ion-button expand="block" class="ion-margin" ion-button color="primary" (click)="openBrowser()">Navegador</ion-button>
  
</ion-content>

<a [routerLink]="['/login']" class="ion-text-center">Cree su cuenta gratis</a>