<ion-content>
    <ion-header>
    </ion-header>
    <ion-title>
        <br>
        <h1>Agenda</h1>
        <h1>Horas Medicas</h1>
    </ion-title>
</ion-content>
    <ion-card-content>
        <ion-img 
            src="https://img.freepik.com/vector-gratis/medicos-enfermeras-dibujos-animados_52683-59918.jpg?w=2000">
        </ion-img>
    </ion-card-content>
<ion-content>
    <ion-button expand="block" class="ion-margin" ion-button color="primary" [routerLink]="['/login']">Login
    </ion-button>
</ion-content>

<a [routerLink]="['/login']" class="ion-text-center">Cree su cuenta gratis</a>