<ion-content>
    <ion-header>
    </ion-header>
    <ion-title>
        <br>
        <h1>Agenda</h1>
        <h1>Horas Medicas</h1>
    </ion-title>
</ion-content>
    <ion-card-content>
        <ion-img 
            src="https://cdn5-ss16.sharpschool.com/UserFiles/Servers/Server_91151/Image/Departments/Communications/Special%20Images%20-%20Occasions/calendar%20image.jpg">
        </ion-img>
    </ion-card-content>
<ion-content>
    <ion-button expand="block" class="ion-margin" ion-button color="primary" [routerLink]="['/login']">Login
    </ion-button>
</ion-content>

<a [routerLink]="['/login']" class="ion-text-center">Cree su cuenta gratis</a>